@inherits StatesRazor

@page "/counter"

<PageTitle>Analytics by state</PageTitle>

<div class="mb-4">
    <h2>Date filter</h2>
    <RadzenDatePicker @bind-Value="@CurrentFilterDate" Min="@DatePickerDates.startDate" Max="@DatePickerDates.endDate" AllowClear="true" DateFormat="dd/MM/yyyy" Change="FilterDateValueChanged" Disabled="@DatePickerDisabled" MouseEnter="@(DatePickerTooltip)" AllowInput="false" />
</div>

<h1>Тут нихуя нет потому что нихуя не готово</h1>