@using CarHaulingAnalytics.Data.Enums
@using EnumsNET
@using Radzen.Blazor.Rendering
@inherits CompareRazor

@page "/compare"

<style>
    .chart-container {
        height: 35vw;
        margin: 0 auto;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 5px 0 #000000;
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 5px 0 #000000;
        -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        box-shadow: 0 0 5px 0 #000000;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    }
</style>

<div class="ontop">
    <RadzenCard>
        <RadzenButton @ref="Button" Icon="filter_alt" Text="Filters" Click="@(_ => Popup.ToggleAsync(Button.Element))" />
        <b>Displaying orders: $@FilterValue.LowerPriceLimit - $@FilterValue.UpperPriceLimit, @FilterValue.LowerRangeLimit mi - @FilterValue.UpperRangeLimit mi</b>
        @if (FilterValue.TrailerType.HasValue)
        {
            <b>, @FilterValue.TrailerType.Value.AsString() trailer</b>
        }
        @if (FilterValue is { FromDate: not null, ToDate: not null })
        {
            <b>, @FilterValue.FromDate.Value.ToString("dd/MM/yyyy") - @FilterValue.ToDate.Value.ToString("dd/MM/yyyy")</b>
        }
        <b>, <span style="color: red;">Compare @(FilterValue.This.HasValue ? FilterValue.This.Value : "nothing") to @(FilterValue.Rest ? "the rest" : (FilterValue.That.HasValue ? FilterValue.That.Value : "nothing"))</span> </b>

    </RadzenCard>
</div>

<Popup @ref="Popup" Lazy="true" Style="display:none;position:absolute;height:300px;width:50vw;padding:5px;">
    <RadzenCard>
        @if (!FilterValue.FromDate.HasValue || !FilterValue.ToDate.HasValue)
        {
            <h5>@TotalOrders orders (last updated at @DatePickerDates.endDate UTC)</h5>
        }
        else
        {
            <h5>@TotalOrders orders from @FilterValue.FromDate.Value.ToString("dd/MM/yyyy") to @FilterValue.ToDate.Value.ToString("dd/MM/yyyy")</h5>
        }
        <RadzenRow Class="mb-3">
            <RadzenColumn Size="3">
                <h4>From date</h4>
                <RadzenDatePicker @bind-Value="@FilterValue.FromDate" Min="@DatePickerDates.startDate" Max="@DatePickerDates.endDate" AllowClear="true" DateFormat="dd/MM/yyyy" AllowInput="false" Placeholder="All dates" />
            </RadzenColumn>
            <RadzenColumn Size="3">
                <h4>To date</h4>
                <RadzenDatePicker @bind-Value="@FilterValue.ToDate" Min="@DatePickerDates.startDate" Max="@DatePickerDates.endDate" AllowClear="true" DateFormat="dd/MM/yyyy" AllowInput="false" Placeholder="All dates" />
            </RadzenColumn>
            <RadzenColumn Size="4">
                <h4>Platform filter</h4>
                <RadzenDropDown TValue="List<SourcePlatform>" @bind-Value="@FilterValue.SelectedPlatforms" Data="@(Enum.GetValues<SourcePlatform>())" Multiple="true" Chips="true" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Class="mb-3">
            <RadzenColumn Size="12">
                <h4>Price filter (from $@FilterValue.LowerPriceLimit to $@FilterValue.UpperPriceLimit)</h4>
                <RadzenNumeric Min="300" Max="7000" @bind-Value="@FilterValue.LowerPriceLimit" />
                <RadzenNumeric Min="300" Max="7000" @bind-Value="@FilterValue.UpperPriceLimit" />
            </RadzenColumn>

        </RadzenRow>
        <RadzenRow Class="mb-3">
            <RadzenColumn Size="12">
                <h4>Range filter (from @FilterValue.LowerRangeLimit mi to @FilterValue.UpperRangeLimit mi)</h4>
                <RadzenNumeric Min="0" Max="5000" @bind-Value="@FilterValue.LowerRangeLimit" />
                <RadzenNumeric Min="0" Max="5000" @bind-Value="@FilterValue.UpperRangeLimit" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Class="mb-3">
            <RadzenColumn Size="12">
                <h4>Vehicle amount filter (from @FilterValue.MinVehicles to @FilterValue.MaxVehicles)</h4>
                <RadzenNumeric Min="1" Max="10" @bind-Value="@FilterValue.MinVehicles" />
                <RadzenNumeric Min="1" Max="10" @bind-Value="@FilterValue.MaxVehicles" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Class="mb-3">
            <RadzenRow>
                <RadzenColumn>
                    <h4>Trailer type filter</h4>
                    <RadzenDropDown TValue="TrailerTypes?" @bind-Value="@FilterValue.TrailerType" Data="@(Enum.GetValues<TrailerTypes>())" AllowClear="true" Placeholder="Any trailer" />
                </RadzenColumn>
                <RadzenColumn>
                    <h4>Compare this:</h4>
                    <RadzenDropDown TValue="States?" @bind-Value="@FilterValue.This" Data="@(Enum.GetValues<States>().Where(s => s != States.Canada))" AllowClear="true" Chips="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                </RadzenColumn>
                <RadzenColumn>
                    <h4>To this:</h4>
                    <RadzenDropDown TValue="States?" @bind-Value="@FilterValue.That" Data="@(Enum.GetValues<States>().Where(s => s != States.Canada))" AllowClear="true" Chips="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Disabled="FilterValue.Rest" />
                    <RadzenLabel Text="Rest of the states" Component="RestCheck" />
                    <RadzenCheckBox TValue="bool" @bind-Value="@FilterValue.Rest" Name="RestCheck" />
                </RadzenColumn>
            </RadzenRow>
        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="5">
                <RadzenButton Text="Apply filter" Click="FilterChanged" IsBusy="!DatesLoaded" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
</Popup>

<PageTitle>Compare data</PageTitle>

<RadzenRow class="mt-3">
    <RadzenColumn Size="6">
        <div id="compareCount" class="chart-container"></div>
    </RadzenColumn>
    <RadzenColumn Size="6">
        <div id="comparePrice" class="chart-container"></div>
    </RadzenColumn>
</RadzenRow>
<RadzenRow class="mt-3">
    <RadzenColumn Size="6">
        <div id="comparePpm" class="chart-container"></div>
    </RadzenColumn>
    <RadzenColumn Size="6">
        <div id="compareRange" class="chart-container"></div>
    </RadzenColumn>
</RadzenRow>

<script>
    function renderComparisonChart(containerId, data, title, floatingPoints, unit) {
        Highcharts.chart(containerId, {
            chart: {
                type: 'area'
            },
            accessibility: {
                enabled: false,
            },
            title: {
                text: title
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title : {
                    text: null
                }
            },
            tooltip: {
                pointFormat: '{series.name} - <b>{point.y:,.' + floatingPoints + 'f} ' + unit +'</b>'
            },
            plotOptions: {
                area: {
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: data
        });
    }

    function disposeCharts() {
        Highcharts.charts.forEach(c => {
            if (c) {
                c.destroy();
            }
        });
    }
</script>
