@inherits TrendsRazor

@page "/trends"

<PageTitle>Trends</PageTitle>

<RadzenRow>
    <RadzenColumn>
        <h2>Date range</h2>
        <RadzenDatePicker @bind-Value="@FilterModel.FromDate" Min="@DatePickerDates.startDate" Max="@DatePickerDates.endDate" AllowClear="true" DateFormat="dd/MM/yyyy" Disabled="@DatePickerDisabled" AllowInput="false" />
        <RadzenDatePicker @bind-Value="@FilterModel.ToDate" Min="@DatePickerDates.startDate" Max="@DatePickerDates.endDate" AllowClear="true" DateFormat="dd/MM/yyyy" Disabled="@DatePickerDisabled" AllowInput="false" />
        <RadzenButton Text="Filter" Click="FilterDateValueChanged" IsBusy="DatePickerDisabled" />
        <RadzenButton Text="One week" Click="OneWeekRange" IsBusy="DatePickerDisabled" ButtonStyle="ButtonStyle.Info" />
        <RadzenButton Text="Two weeks" Click="TwoWeeksRange" IsBusy="DatePickerDisabled" ButtonStyle="ButtonStyle.Info" />
        <RadzenButton Text="This month" Click="OneMonthRange" IsBusy="DatePickerDisabled" ButtonStyle="ButtonStyle.Info" />
    </RadzenColumn>
</RadzenRow>
<RadzenRow class="mb-4">
    <RadzenColumn>
        <h2>Vehicle count</h2>
        <br />
        <span class="me-1">@VehicleCount.First()</span>
        <RadzenSlider Range="true" @bind-Value=@VehicleCount TValue="IEnumerable<int>" Min="1" Max="10" Step="1" />
        <span class="ms-1">@VehicleCount.Last()</span>
    </RadzenColumn>
</RadzenRow>

<h2>Average order price</h2>
<RadzenChart>
    <RadzenLineSeries Smooth="true" Data="@AveragePriceTrends" CategoryProperty="Date" Title="Price" ValueProperty="Average" RenderingOrder="1">
        <RadzenSeriesTrendLine Visible="@true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
    </RadzenLineSeries>
    <RadzenLegend Visible="false" />
    <RadzenCategoryAxis Padding="20" />
    <RadzenValueAxis Formatter="@FormatAsUSD">
        <RadzenGridLines Visible="true" />
        <RadzenAxisTitle Text="Average order price" />
    </RadzenValueAxis>
</RadzenChart>

<hr />
<h2>Average price per mile</h2>
<RadzenChart>
    <RadzenLineSeries Smooth="true" Data="@AveragePricePerMileTrends" CategoryProperty="Date" Title="Price per mile" ValueProperty="Average" RenderingOrder="1">
        <RadzenSeriesTrendLine Visible="@true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
    </RadzenLineSeries>
    <RadzenLegend Visible="false" />
    <RadzenCategoryAxis Padding="20" />
    <RadzenValueAxis Formatter="@FormatAsUSD">
        <RadzenGridLines Visible="true" />
        <RadzenAxisTitle Text="Average price per mile" />
    </RadzenValueAxis>
</RadzenChart>

<hr />
<h2>Average distance</h2>

<RadzenChart>
    <RadzenLineSeries Smooth="true" Data="@AverageDistanceTrends" CategoryProperty="Date" Title="Miles" ValueProperty="Average" RenderingOrder="1">
        <RadzenSeriesTrendLine Visible="@true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
    </RadzenLineSeries>
    <RadzenLegend Visible="false" />
    <RadzenCategoryAxis Padding="20" />
    <RadzenValueAxis>
        <RadzenGridLines Visible="true" />
        <RadzenAxisTitle Text="Average distance" />
    </RadzenValueAxis>
</RadzenChart>